{% extends 'base_user.html' %}
{% load static %}
{% block link %}
<link rel="stylesheet" href="{% static 'css/styleBaseUser.css' %}">
<link rel="stylesheet" href="{% static 'css/styleContactUs.css' %}">
{% endblock %}
{% block title %}
Contact Us
{% endblock %}
{% block content %}

{% for message in messages %}
<div class="containerAlert">
    <div class="alert">
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
        {{message}}
    </div>
</div>
{% endfor %}

<section>
    <div class="form">

        <form action="" method="post">
            {% csrf_token %}

            <label for="" class="label">Name:</label>
            <input type="text" name="name" class="text" placeholder="Enter you Name" required>

            <label for="" class="label">Contact Number: </label>
            <input type="text" name="contact" class="text" placeholder="Enter your Contact Number" pattern="[0-9]{10}"
                title="Please enter only 10 digits." required>

            <label for="" class="label">Message: </label>
            <input type="text" name="message" class="text" placeholder="Type your message here..." required>

            <div class="submit">
                <center>
                    <input type="submit" value="Submit" class="input-submit">
                </center>
            </div>
        </form>
    </div>
</section>
{% endblock %}