{% extends 'base_user.html' %}
{% load static %}
{% block link %}
<link rel="stylesheet" href="{% static 'css/styleShopBooks.css' %}">
<link rel="stylesheet" href="{% static 'css/styleBaseUser.css' %}">
{% endblock %}
{% block title %}
Shop Books
{% endblock %}

{% block content %}

{% for message in messages %}
<div class="containerAlert">
    <div class="alert">
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
        {{message}}
    </div>
</div>
{% endfor %}

<section class="products" id="product">
    <h2>Shop Books</h2>
    <div class="item">

        {% for book in book %}
        <div class="i">
            <div>
                <h3>{{book.name}}</h3>
            </div>
            <div>
                <img src="{{book.image.url}}" alt="error" class="image">
            </div>
            <div>
                &#x20B9 {{book.amount}}
            </div>
            <div>
                {{book.description}}
            </div>
            <form action="{% url 'cart' %}" method="post">
                {% csrf_token %}
                <input type="hidden" value="{{book.id}}" name="bid">
                <!-- <input type="number" value="1" name="qty"> -->
                <label for="quantity">Quantity: </label>
                <select name="qty" class="select">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                </select>
                <button type="submit" class="submit">
                    &#128722; Add to cart
                </button>
            </form>
        </div>
        {% endfor %}

    </div>
</section>
{% endblock %}