table {
    border-collapse: collapse;
    width: 90%;
    margin-top: 5rem;
}

th,
td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #f2f2f2
}

th {
    background-color: #caa9ff;
    color: white;
}

.button {
    background-color: #fffcfc;
    border: 1px solid grey;
    border-radius: 3px;
    width: 10rem;
    height: 2rem;
}

.button:hover {
    cursor: pointer;
    background-color: #e8e8e8;
}